<div class='input-group mb-3'>
  <span class='input-group-text' id='basic-addon1'>email</span>
  <input
    type='text'
    class='form-control'
    placeholder='Email'
    aria-label='Email'
    aria-describedby='basic-addon1'
    id='settingsEmail'
    value={{email user}}
  />
</div>

<div class='input-group mb-3'>
  <span class='input-group-text' id='basic-addon1'>First Name</span>
  <input
    type='text'
    class='form-control'
    placeholder='First Name'
    aria-label='First Name'
    aria-describedby='basic-addon1'
    id='settingsFirstName'
    value={{firstName user}}
  />
</div>

<div class='input-group mb-3'>
  <span class='input-group-text' id='basic-addon1'>Last Name</span>
  <input
    type='text'
    class='form-control'
    placeholder='Last Name'
    aria-label='Last Name'
    aria-describedby='basic-addon1'
    id='settingsLastName'
    value={{lastName user}}
  />
</div>

<div class='input-group mb-3'>
  <button type='button' class='btn btn-primary' id='settingsSave'>Save</button>
</div>