<button
  class='btn btn-primary'
  type='button'
  data-bs-toggle='offcanvas'
  data-bs-target='#offcanvasRight'
  aria-controls='offcanvasRight'
>
  <i class='bi bi-person-circle'></i>
  {{firstName user}}
  {{lastName user}}
</button>